body{
    font-family: sans-serif;
}

button.primary {
    height: 40px;
    width: 100%;
    display: block;
    margin: 12px auto;
    cursor: pointer;
}

button.primary:hover {
    background-color: #61bd4f;
}

button.primary:active {
    background-color: #49852e;
}

.primary {
    background-color: #5aac44;
    box-shadow: none;
    border: none;
    color: #fff;
}

.main-header{
    z-index: 1052 !important;
}

#create-board, .min-board, .board-title-fade{
	height: 125px;
	width: 200px;
    display: block;
}

.min-board, .board-title-fade{
    display: block;
}

#create-board{
    display: table-cell;
}

#create-board, .min-board{
    font-size: 17px;
    font-weight: 400;
}

.min-board-panel{
    margin-bottom: 35px;
    max-width: 100%;
}

.min-board{
	color: #fff;
	background-color: gray;
	border-radius: 6px;
	font-weight: bold;
	font-size: 20px;
}

.min-board:hover{
	color: #fff;
}

#workflow-panel{
    white-space: nowrap;
    min-height: 85vh;
    margin-top: 60px;
}

#workflow-panel .list{
  width:280px;
  display: inline-block;
  margin-right: 20px;
  border-radius: 5px;
  vertical-align: top;
  background: #0079BF;
}

#workflow-panel .list:hover{
  cursor: pointer;
}

#add-list-form{
  margin-bottom:15px;
}

#add-list-form input{
  width:200px;
  float:left;
  margin-right:10px;
  height:40px;
}

.min-card{
    position: relative;
    display: block;
    padding: 4px 8px;
    border: 1px solid #E6E7EA;
    border-radius: 4px;
    margin-bottom: 5px;
    background: white;
    z-index: 1000;
    color: black;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    overflow-x: hidden;
}

.min-card:hover .pencil{
  visibility:visible;
}

.min-card:hover{
  background-color: #f4f5f7;
  border-bottom-color: rgba(9,30,66,.25);
  cursor: pointer;
}

.cards{
    overflow: auto;
    max-height: 65vh;
    margin-bottom: 5px;
    min-height: 5px;
}

.card-hidden{
  visibility: hidden;
  height: 1px;
  padding: 0;
  margin: 0;
  border: none;
}

.card-body > .btn-add-card{
  border-radius: 0 0 3px 3px;
  color: white;
  display: block;
  flex: 0 0 auto;
  padding: 8px;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-add-card:hover{
  cursor: pointer;
  background-color: rgba(0,0,0,.2);
  border-radius: 5px;
}

.btn-add-card:active{
    background-color: rgba(0,0,0,.3);
}

.close-add-card-form{
  background: none;
  border: none;
  color: white;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
}

.close-add-card-form:hover{
  cursor: pointer;
}

.list-menu{
  position: absolute;
  top: 38px;
  right: 0px;
  left: -8px;
  z-index: 1010;
}

.dropdown-item{
  font-weight: bold;
}
.dropdown-menu{
  width: 260px;
  border-radius: 3px;
}

.pencil{
  background-color: rgba(244,245,247,.8);
  background-clip: padding-box;
  background-origin: padding-box;
  border-radius: 3px;
  padding: 2px 6px;
  position: absolute;
  right: 2px;
  top: 6px;
  visibility: hidden;
  z-index: 40;
  width: 25px;
}

.pencil:hover{
  background-color: #ebecf0;
}

.pencil-img{
  width: 14px;
}

.window-up .window-overlay {
    display: flex;
}

.window-overlay {
    align-items: flex-start;
    background-color: rgba(0,0,0,.64);
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1052;
}

.window-overlay .window{
  background-color: #f4f5f7;
  border-radius: 2px;
  display: none;
  margin: 48px 0 80px;
  overflow: hidden;
  position: relative;
  width: 768px;
  z-index: 25;
}

.dialog-close-button {
    color: #42526e;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    overflow: hidden;
    padding: 4px;
    margin: 4px;
    width: 32px;
    z-index: 2;
    transition: background-color 85ms,color 85ms;
}

.icon-close:before {
    content: "x";
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
}

.btn-list-menu{
    font-size: 18px;
    padding: 5px 5px;
}

.btn-list-menu:hover{
    background-color: rgba(0,0,0,.2);
    border-radius: 3px;
}

.btn-list-menu:active{
    background-color: rgba(0,0,0,.3);
}

.btn-list-menu img{
    width: 15px;
}

.btn-board-menu{
    display: inline-block;
    position: absolute;
    right: 20px;
    opacity: 1!important;
}

.top-board-panel{
    position: fixed;
    width: 100%;
    z-index: 1051;
}

#modalNewBoard .form-control{
    margin-bottom: 15px;
}


#modalNewBoard .select2-container{
    margin-bottom: 10px;
}

.pop-over {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9,30,66,.25),0 0 0 1px rgba(9,30,66,.08);
    display: none;
    overflow: hidden;
    position: absolute;
    right: -9999px;
    top: -9999px;
    width: 304px;
    z-index: 70;
    -webkit-transform: translateZ(0)
}

.pop-over hr {
    margin: 8px 0
}

.pop-over ol,ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.pop-over input[type=email],.pop-over input[type=password],.pop-over input[type=text] {
    margin: 4px 0 12px;
    width: 100%
}

.pop-over input[type=file] {
    width: 240px
}

.pop-over select {
    width: 100%;
    margin-bottom: 14px
}

.pop-over textarea {
    height: 72px;
    margin: 4px 0 12px;
    width: 100%
}

.pop-over .empty {
    margin: 0
}

.pop-over img {
    max-width: 100%
}

.pop-over .right-of-button-link {
    float: right;
    margin-top: 17px;
    color: #5e6c84
}

.pop-over label:first-child {
    margin-top: 4px
}

.pop-over-header {
    height: 40px;
    position: relative;
    margin-bottom: 8px;
    text-align: center
}

.pop-over-footer {
    border-top: 1px solid #dfe1e6;
    padding-top: 12px
}

.pop-over-header-title {
    box-sizing: border-box;
    color: #5e6c84;
    display: block;
    line-height: 40px;
    border-bottom: 1px solid rgba(9,30,66,.13);
    margin: 0 12px;
    overflow: hidden;
    padding: 0 32px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1
}

.pop-over-header-back-btn {
    color: #6b778c;
    display: none;
    padding: 10px 8px 10px 12px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2
}

.pop-over-header-back-btn:hover {
    color: #172b4d
}

.pop-over-header-close-btn {
    color: #6b778c;
    padding: 10px 12px 10px 8px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2
}

.pop-over-header-close-btn:hover {
    color: #172b4d
}

.pop-over-content {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 12px 12px
}

.select-members-list {
    margin-bottom: 8px
}

.pop-over.mod-search-over {
    background-color: #f4f5f7;
    min-height: 114px
}

.pop-over.mod-search-over .pop-over-header {
    display: none
}

.pop-over.mod-search-over .pop-over-content {
    padding: 8px 4px 8px 12px;
    margin-right: 8px
}

.pop-over.mod-search-over .pop-over-content::-webkit-scrollbar-button {
    display: block;
    height: 4px;
    width: 4px
}

.pop-over.mod-mini-profile .no-back .pop-over-header {
    border-bottom-color: transparent;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    z-index: 1
}

.pop-over.mod-mini-profile .no-back .pop-over-header-title {
    display: none
}

.pop-over.mod-avdetail {
    text-align: center
}

.pop-over.mod-avdetail .pop-over-atlassian-account-avatar {
    max-width: 128px;
    max-height: 128px
}

.pop-over-header-back-btn.is-shown,.pop-over.is-shown {
    display: block
}

.pop-over.mod-no-header {
    width: 370px
}

.pop-over.mod-no-header .pop-over-header {
    display: none
}

.pop-over.mod-no-header .pop-over-content {
    padding: 10px
}

.pop-over-section {
    margin-top: 12px
}

.pop-over-section h4 {
    color: #5e6c84;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .04em;
    line-height: 16px;
    margin-top: 16px;
    text-transform: uppercase
}

.pop-over.mod-reaction-selector {
    width: 408px;
    border: none
}

.pop-over.mod-reaction-selector .pop-over-content {
    padding: 0;
    max-height: none
}

input[type=submit].pop-over-confirmation-button {
    margin-bottom: 8px
}

.pop-over.mod-card-cover-chooser .pop-over-content {
    overflow-y: hidden
}

.pop-over.mod-card-templates {
    background: #ebecf0
}

.background-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0
}

.background-grid-trigger {
    align-items: center;
    border-radius: 3px;
    color: rgba(0,0,0,.4);
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
    min-height: 0;
    padding: 0;
    position: relative;
    line-height: 0;
    width: 100%;
    cursor: pointer
}

.background-grid-trigger,.background-grid-trigger:focus,.background-grid-trigger:hover {
    background: none;
    background-color: #fff;
    background-position: 50%;
    background-size: cover;
    box-shadow: none
}

.background-grid-trigger.is-photo.selected:before,.background-grid-trigger:focus:before,.background-grid-trigger:hover:before {
    background: rgba(0,0,0,.15);
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 3px
}

.background-grid-trigger:active:before {
    background: rgba(0,0,0,.25)
}

.background-grid-trigger.selected .icon-check {
    color: #fff
}

.background-grid-trigger.selected.is-photo:before {
    background-color: rgba(0,0,0,.4)
}

.background-grid-trigger.selected.is-photo:focus:before {
    background-color: rgba(0,0,0,.5)
}

.background-grid-trigger.selected.is-photo:active:before,.background-grid-trigger.selected.is-photo:hover:before {
    background-color: rgba(0,0,0,.6)
}

.background-grid-trigger>span {
    position: relative;
    z-index: 1
}

.background-grid-trigger .icon-sm {
    flex-basis: 100%;
    font-size: 16px;
    height: 24px;
    line-height: 24px
}

.background-chooser .search-photos {
    position: relative
}

.background-chooser .search-photos input[type=text] {
    padding-left: 32px
}

.background-chooser .search-photos .icon-search {
    position: absolute;
    left: 6px;
    top: 8px
}

.background-chooser .more-colors {
    margin-top: 8px
}

.background-chooser .background-grid-item {
    height: 56px;
    width: calc(33.3% - 8px);
    margin-bottom: 8px;
    margin-right: 8px
}

.background-chooser .background-grid-item:nth-child(3n) {
    width: 33.3%;
    margin-right: 0
}

.background-chooser .logo-loading {
    display: block;
    margin: 0 auto
}

.background-chooser-header {
    align-items: center;
    display: flex
}

.background-chooser-header .quiet-button {
    flex: 0 0 auto
}

.background-chooser-heading {
    text-align: left;
    flex-grow: 1;
    font-size: 14px;
    line-height: 18px;
    margin: 0
}

.background-chooser-heading span{
    font-weight: bolder;
}

.photo-attribution-component {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2
}

.photo-attribution-component .photo-attribution-component-attribution-link {
    background: rgba(0,0,0,.5);
    border-radius: 0 0 2px 2px;
    box-sizing: border-box;
    color: #dfe1e6;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    cursor: pointer;
    opacity: 0;
    overflow: hidden;
    padding: 2px 4px;
    position: absolute;
    z-index: 1;
    text-decoration: underline;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 20px;
    left: 0;
    bottom: 0
}

.photo-attribution-component .photo-attribution-component-attribution-link:hover {
    background: rgba(0,0,0,.8);
    color: #fff
}

.photo-attribution-component.large .photo-attribution-component-attribution-link {
    font-size: 14px;
    line-height: 20px;
    height: 24px;
    padding: 2px 12px
}

.photo-attribution-component--active .photo-attribution-component-attribution-link,.photo-attribution-component:hover .photo-attribution-component-attribution-link {
    opacity: 1
}

@font-face {
    font-family: trellicons;
    src: url(https://a.trellocdn.com/prgb/dist/fonts/trellicons.01f4873da4f2b2c57352.eot);
    src: url(https://a.trellocdn.com/prgb/dist/fonts/trellicons.01f4873da4f2b2c57352.eot#iefix) format("embedded-opentype"),url(https://a.trellocdn.com/prgb/dist/fonts/trellicons.f95b53426037fc215170.ttf) format("truetype"),url(https://a.trellocdn.com/prgb/dist/fonts/trellicons.c914986d44ff5c34e6f8.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

.icon-lg, .icon-md, .icon-sm {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: trellicons;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;
}

.icon-check:before {
    content: "\E913";
}

.icon-close:before {
    content: "\E918";
}

.background-grid-trigger .icon-check{
    display: none;
}

.background-grid-trigger.selected .icon-check{
    display: block;
}

.board-title-fade{
	background-color: rgba(0,0,0,.15);
	bottom: 0;
	left: 15px;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 6px;
}

.min-board:hover .board-title-fade{
	background-color: rgba(0,0,0,.25);
}

.title-boards-group{
    font-size: 22px;
    padding: 20px 0;
    font-weight: bold;
}

.board-header-btn {
    border-radius: 3px;
    color: #fff;
    cursor: default;
    font-size: 16px;
    padding: 10px 16px;
    text-decoration: none;
}

.board-header-btn:hover{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.board-header-btn:not(.no-edit) {
    background-color: hsla(0,0%,100%,.24);
}

.left-line{
    border-right: 1px solid;
    border-color: white;
    height: 39px;
    padding-right: 10px;
}

.board-header-add-list{
    display: inline-block;
    margin-right: 10px;
}

.alert-fixed{
    display: inline-block;
    margin: 0px auto;
    position: fixed !important;
    transition: all 0.5s ease-in-out 0s;
    z-index: 1031;
    width: 20%;
    top: 20px;
    right: 20px;
}

.alert-close{
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 1033;
}

.list-header-target {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.is-hidden {
    display: none;
}
